<html>
	<head>
		<meta charset="UTF-8">
		<title>page liste</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<style>
			h1{
				color: #40007d;
			}
		</style>
	</head>
	<body>
		<img src="{$url_base}public/image/logo.jpg" class="resize" />
		<div class="nav navbar navbar-default navbar-fixed-top">
			<ul class="nav navbar-nav">
				<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
				<li><a href="{$url_base}Test/index">Menu page test</a></li>
				<li><a href="{$url_base}Test/getID/1">Menu page test 2</a></li>
				<li><a href="{$url_base}Test/liste">Menu page test liste</a></li>
				<li><a href="{$url_base}Categorie/liste">Categorie</a></li>
				<li><a href="{$url_base}Produit/liste">Produit</a></li>
			</ul>
		</div>
		<div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
			<div class="panel panel-info">
				<div class="panel-heading">BIENVENUE A VOTRE MODELE MVC</div>
				<div class="panel-body">
					<div class="alert alert-success" style="font-size:18px; text-align:justify;">
						*********Buur Amdy*********
					<br/><b>Back-End Technology</b>
					</div>
					{if isset($categories)}
						{if $categories != null}
							<table class="table table-bordered table-stripped">
								<tr>
									<th>ID</th>
									<th>Categorie</th>
									<th>Action</th>
									<th>Action</th>
								</tr>
								{foreach from=$categories item=categorie}
									<tr>
										<td>{$categorie['idC']}</td>
										<td>{$categorie['libC']}</td>
										<td><a href="{$url_base}Categorie/delete/{$categorie['idC']}">Supprimer</a></td>
										<td><a href="{$url_base}Categorie/edit/{$categorie['idC']}">Editer</a></td>
									</tr>
								{/foreach}
							</table>
						{else}
							Liste vide
						{/if}
					{/if}
				</div>
				<a href="{$url_base}Categorie/add">Ajout d'une Categorie de produit</a>
			</div>
		</div>

	</body>
</html>
